@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --contentWidth: min(1200px, calc(100vw - 80px));
    --radius: 0.5rem;

    --background: #f3f3f3;
    --foreground: #030303;
    --border: #eeeeee;
    --primary: #4340f2;
  }

  .dark {
    --background: #101010;
    --foreground: #ffffff;
    --border: #202020;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground m-0 w-lvw h-lvh;
  }
}
